/node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
**/.features-gen
**.feature.spec.js
/storageStates/
/common/metrics/
/.vscode/
/xml/
/.idea/
.npmrc
.yarn/**
**/tests/**/playgrounds
**/playground.spec.ts
test-results.json
package-lock.json
**/common/test/
sonar-project.properties
.scannerwork
**/temp/**
.taskkey